body{
    background:rgb(112.520718,44.062154,249.437846);
    display:flex;
    justify-content: center;
}
.butn-box{
    width: 200px;
    margin: 50px auto;
    position: relative;
    border-radius: 40px;
    background: #fff;
    
}
.toggel-btn{
    padding: 10px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position:relative;
    text-align: center;
    z-index: 2;
    color: #000;
    
}
#btn{
    left:0;
    top:0;
    position: absolute;
    width: 110px;
    height: 100%;
    background:#0c52a9;
    border-radius: 30px;
    transition: 1s;
    z-index: 1;
    width: 55px;


}
.content{
    width:100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
#todoListContent h2{
    color: #002765;
    display: inline;
    display: flex;
    align-items: center;
    margin-bottom: 20px;


}
#todoListContent h2 img{
    width: 30px;
    margin-left: 10px;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
input{
    flex:1;
    border: none;
    outline: none;
    background:transparent;
    padding: 10px;
    font-weight: 14px;

}
#addbtn{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ui li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;

}
ui li::before{
    content:'';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./670109-200.png);
    background-size: cover;
    background-position: center;
    top:12px;
    left:8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(./check-mark-icon-symbols-vector-250nw-1906113508.webp);
}